<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>

<div class="aside">
<h2>Добро пожаловать в CRM</h2>
</div>

<nav>
<p><a href="{{ url_for('add_contact') }}">Добавить контакты</a></p>
<p><a href="{{ url_for('contacts') }}">Посмотреть контакты</a></p>
<p><a href="{{ url_for('search_contacts') }}">Искать контакты</a></p>
<p><a href="{{ url_for('send_email') }}">Отправить Email</a></p>
</nav>

<div class="text-1">
    <img src="{{ url_for('static', filename='img/car_1.jpg') }}" alt="picture-1">
    <p>Добро пожаловать в наш автомобильный салон, где мы предлагаем широкий ассортимент автомобилей на любой вкус и бюджет. Мы гордимся тем, что предоставляем нашим клиентам только лучшие модели от ведущих мировых производителей. В нашем салоне вы найдете как новые, так и подержанные автомобили, каждый из которых прошел тщательную проверку и соответствует высоким стандартам качества.</p>
    <p>Наши консультанты всегда готовы помочь вам выбрать автомобиль, который идеально подойдет под ваши потребности и предпочтения. Мы предлагаем гибкие условия кредитования и лизинга, а также различные программы страхования, чтобы сделать процесс покупки максимально удобным и выгодным для вас.</p>
    <p>В нашем салоне вы также можете воспользоваться услугами сервисного центра, где опытные специалисты обеспечат качественное обслуживание и ремонт вашего автомобиля. Мы используем только оригинальные запчасти и современное оборудование, чтобы гарантировать надежность и долговечность вашего автомобиля.</p>
    <p>Мы ценим каждого нашего клиента и стремимся предоставить вам лучший сервис и внимание к деталям. Посетите наш салон и убедитесь сами в высоком уровне обслуживания и качестве наших автомобилей. Мы уверены, что вы найдете у нас именно то, что ищете, и будете довольны своим выбором.</p>
</div>

<div class="text-2">
    <img src="{{ url_for('static', filename='img/car_2.jpg') }}" alt="picture-2">
    <p>Автомобили всегда занимали особое место в жизни человека. С момента их изобретения в конце 19 века они стали неотъемлемой частью нашей повседневной жизни, предоставляя нам свободу передвижения и открывая новые горизонты. Автомобили не только упрощают нашу жизнь, но и являются символом прогресса и технологических достижений. Они эволюционировали от простых механических устройств до высокотехнологичных машин, оснащенных передовыми системами безопасности и комфорта. В современном мире автомобили стали не просто средством передвижения, но и выражением личного стиля и статуса. В этом тексте мы рассмотрим, как автомобили изменили нашу жизнь и какие инновации ждут нас в будущем.</p>
</div>

<footer>
    <p>&copy; 2024 - Мое CRM-приложение. Все права защищены.</p>
</footer>

</body>
</html>
